    .apresentacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10% 20%;
        padding: 10px 10px;
        background-color: black;

    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        height: 100 vh;
        background-color: white;
        color: aliceblue;
    }

    .destaque {
        color: blue;
    }

    .apresentacao__conteudo {
        width: 800px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__titulo {
        font-size: 35px;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .apresentacao_texto {
        font-size: 24px;
    }

    .apresentacao__links {
        display: flex;
        justify-content: space-between;

    }

    .apresentacao__link__link {
        border: solid aqua;
        background-color: black;
        width: 280px;
        text-align: center;
        border-radius: 16px;
        padding: 20px;
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        color: aliceblue;
        font-size: 22px;
        margin: 15px;
        border-color: aqua;
    }

    .apresentacao__link__subtitulo {
        display: flex;
        gap: 10px;
        justify-content: start;
        flex-wrap: wrap;

        background-color: blue;

    }

    .teste1 {
        height: 80px;
        width: 80px;
        background-color: brown;
    }