    .apresentacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10%;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        height: 100 vh;
        background-color: rgb(0, 0, 0);
        color: aliceblue
    }

    .destaque {
        color: blue;
    }

    .apresentacao__conteudo {
        width: 600px;
    }

    .apresentacao__titulo {
        font-size: 35px;
        font-family: link rel="preconnect" href="https://fonts.googleapis.com"
            link rel="preconnect" href="https://fonts.gstatic.com" crossorigin link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet"
    }

    .apresentacao_texto {
        font-size: 24px;
    }

    .apresentacao_boto {
        display: flex;
        justify-content: space-between;
    }

    .apresentacao_boto_boto {
        background-color: aqua;
        width: 280px;
        text-align: center;
    }